*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --color-primary: hsl(0, 0%, 96%);
    --color-primary-hover: hsl(355, 100%, 74%);
    --color-heading: hsl(0, 0%, 100%);
    --color-white: hsl(0, 0%, 0%);
    --color-body: hsl(207, 13%, 34%);
    --border-radius: 30px;
}

img {
    width: 100%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--color-white);
}
a {
    color: #fff;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
  }
  
  h1 {
    font-size: 2.5rem;
   
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.75rem;
  }
  
  h4 {
    font-size: 1.5rem;
  }
  
  h5 {
    font-size: 1.25rem;
  }
  
  h6 {
    font-size: 1rem;
  }
  
  /* Header styles */
header {
  background:
      url('images/bg-pattern-intro-desktop.svg') center/cover no-repeat, /* Background image */
      linear-gradient(90deg, hsla(9, 94%, 70%, 1) 0%, hsla(354, 96%, 63%, 1) 100%, hsla(343, 93%, 69%, 1) 100%); /* Background color gradient */
  padding: 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 5rem;
  position: relative;
  overflow: hidden;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-title h1 {
  margin-right: 20px;
}

.header-links {
  display: flex;
  align-items: center;

}

.header-title h1{
  margin-right: 50px;
  color:#fff;
  text-align: left;
  font-weight: 600;
}

.dropdowns {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.dropdown {
  position: relative;
  margin-right: 50px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 200px;
  list-style-type: none;

}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  padding: 3px;
  color: #333;
}

.dropdown-content a:hover {
  font-weight: bold; /* Bold text on hover */
}
.login-signup {
  margin-left: 10%
  
}

.login-signup button {
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5rem;
}


.login-btn {
  background-color: #f75959;/* Replace with your desired HSLA color */
  color: #fff; /* Assuming this is your desired text color */
  border: 1px solid #f75959; /* Replace with your desired HSLA color */
  padding: 10px 20px; /* Adjust padding as needed */
  cursor: pointer;
}
.signup-btn {
  background-color: #fff;
  color: #f75959; /* Assuming this is your desired text color */
  border: 1px solid #f75959; /* Adding a border for contrast */
  padding: 10px 20px; /* Adjust padding as needed */
  cursor: pointer;
}
.login-btn:hover {
  background-color: #fff;
  color: #f75959;; /* Text color on hover */
}
.signup-btn:hover {
  background-color: hsl(355, 100%, 74%);
  color: #fff;/* Text color on hover */
}


/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .header-links {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 0;
      margin-top: 10px;
  }

  .login-signup {
      margin-left: 0;
      margin-top: 10px;
  }
}
.h1{
text-align: center;
color:#2A4055;
}
h1, h2, h3 {
    color: var(--color-white);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3rem;
    font-weight: 450;
    color: #2A4055;
    line-height: 1.7;
}

h3 {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.3;
}

p {
    margin-top: 0;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

/* Button */
.btn {
    border: none;
    outline: none;
    padding: 1rem 1rem;
    border-radius: var(--border-radius);
    font-weight: 500;
    font-size: 1.8rem;
}

.btn-primary {
    color: var(--color-primary);
    background: linear-gradient(90deg, hsla(9, 94%, 70%, 1) 0%, hsla(354, 96%, 63%, 1) 100%, hsla(343, 93%, 69%, 1) 100%);
    border-radius: 5rem;
  }

.btn-primary:hover {
    background: #FF7B86;
    color: #FFF;
    border-radius: 5rem;
}

.btn-secondary {
    color: var(--color-white);
    background: transparent;
    border: 1px solid var(--color-white); /* Fixed border definition */
}

.btn-secondary:hover {
    background: var(--color-white);
    color: var(--color-primary);
}

.block {
    padding: 5rem 0;
}

.block--dark {
    background: #33334B;
}
.block--curved {
    border-radius: 0 60px;
}


/* List */
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list__item {
    margin-bottom: 0.5rem;
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list__dropdown {
    display: inline-block;
    background: var(--color-body);
    padding: 2rem 2rem;
    border-radius: 5px;
}

/* Navigation */
.nav {
    display: flex;
    padding: 1rem;
}


.menu-btn .btn {
    padding: 1rem 3rem;
}


.grid {
    display: grid;
}

/* Media */
.media {
    text-align: center;
    margin: 0 3rem 4rem;
}

.media__body {
    margin-bottom: 6rem;
}

.media__title {
    margin: 3rem auto 0;
}

  /* Hero Section Styles */
  .hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
  .hero {
    color: #fff;
    padding: 50px;
    text-align: center;
  }
  
  .hero h2 {
    font-size: 3rem;
    /* margin-bottom: 20px; */
    color:#fff;
  }
  
  .hero p {
    font-size: 1.3rem;
    margin-bottom: 30px;
  }
  
  .start-btn {
    display: flex;
    justify-content: center;
  }
  
  .start-btn button {
    padding: 12px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 10rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .first-child {
    background-color: #fbfcfd;
    color: #f75959;
  }
  .first-child:hover {
    background-color: hsl(355, 100%, 74%);
    color: #fff;/* Text color on hover */
  }
    
  
  .last-child {
    background-color: #f75959;
    color: #fff;
  }
  .last-child:hover {
    background-color: #fff;
    color: hsl(355, 100%, 74%);/* Text color on hover */
  }
  

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .media {
        text-align: left;
        max-width: fit-content;
        margin-top: 5rem;
    }

    .reordered {
        order: -1;
    }
    .image img{
        margin-top: 120px;
    }
}

.second .container {
    position: relative;
}

.second .container .image {
    position: absolute;
}

.second--block {
    padding: 0;
}

.image--block {
    position: relative;
    width: 80%;
    margin: 100px auto;

}

.image--pattern {
    position: absolute;
    top: -200px;
    overflow: hidden;
}


.image-phone {
    position: absolute;
    top: -200px;
    z-index: 1;
}

.second--block .media {
    margin-top: calc(15vw * 2);
}

.second--block .media__body {
    color: white;
}

.second--media__title h2{
    color: var(--color-heading);
}

@media screen and (min-width: 768px) {
    .second--block .media {
        margin: 4vw auto;
    }

    h2 {
        margin-bottom: 1rem;
    }
}

.third-image {
    width: 90%;
    margin: 0 auto;
}

.footer-logo {
    width: 90px;
}

.block--black {
    background: #24242C;
}

.block--curved--single {
    border-radius: 0 50px 0 0;
}

.footer {
    text-align: center;
}

.footer .list__item {
    color: #bcbcbc;
}

.footer--items--heading {
    color: var(--color-heading);
    font-size: 2.5rem;
}

.footer--items {
    margin-bottom: 3rem;
}

.footer-logo {
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .grid--1x4 {
        grid-template-columns: repeat(4, 1fr);
    }

    .footer-logo {
        margin-top: 5rem;
    }
}}
